@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

.flex {
    display: flex;
    display: -o-flex;
    display: -moz-flex;
    display: -webkit-flex;
}

.F-w {
    flex-wrap: wrap;
}

.body {
    width: 100%;
}

.F-center {
    align-items: center;
    justify-content: center;
}

.F-y-center {
    align-items: center;
}

.F-x-between {
    justify-content: space-between;
}

.F-x-start {
    justify-content: flex-start;
    gap: 20px;
}

.F-x-center {
    justify-content: center;
}

.F-d-c {
    flex-direction: column;
}

.F-x-evenly {
    justify-content: space-evenly;
}

.container {
    width: 90%;
    max-width: 1500px;
}

.pointer {
    cursor: pointer;
}

.pointer-none {
    pointer-events: none;
}

.select-none br {
    user-select: none;
    -webkit-user-select: none;
}

.select-none {
    user-select: none;
    -webkit-user-select: none;
}

.L-title {
    font-size: 3em;
    margin: 25px auto;
}

.L-p {
    width: 100%;
    font-size: 1.2em;
    max-width: 570px;
    line-height: 30px;
    font-family: "Poppins", serif;
}

.N-p {
    width: 100%;
    line-height: 24px;
    font-weight: 300;
    font-family: "Poppins", serif;
}


.status-page {
    margin: 20px auto;
}

.fade {
    opacity: .5;
}

.grayscale {
    filter: grayscale(1);
}

.gray {
    color: #9B9B9B;
}

.grade {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.icon {
    width: 30px;
    height: 30px;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.MR-15px {
    margin-right: 15px;
}

.MB-15px {
    margin-bottom: 15px;
}

.ML-15px {
    margin-left: 50px;
}

.ML-15px- {
    margin-left: -50px;
}

.link {
    cursor: pointer;
    text-decoration: none;
}

.T-black {
    color: black;
}

.font {
    font-family: "Poppins", serif;
}

.postinfo {
    margin-top: 30px;
}

button {
    border: none;
    outline: none;
    padding: 15px 25px;
    background: none;
    cursor: pointer;
    border-radius: 40px;
}

.outline {
    color: #FF5480;
    border: solid 1px #FF5480;
}

.outline:hover {
    color: #fff;
    background: #FF5480;
}

.bg {
    color: #fff;
    background: #FF5480;
}

.input {
    outline: none;
    padding: 15px 25px;
    border-radius: 40px;
    border: solid 1px #fff;
    background: #fff !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.search {
    width: 80%;
    max-width: 700px;
    margin-right: 10px;
}

.search-bar {
    left: 0;
    width: 100%;
    z-index: 999;
    display: none;
    bottom: -100%;
    position: fixed;
    pointer-events: fill;
    transition: bottom .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.search-bar.on {
    bottom: 30px;
    display: flex;
}

.search-bar.search {
    top: -100px;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
    height: 110vh;
    display: flex;
    max-width: 100%;
    filter: blur(0px) !important;
    position: fixed !important;
    background: hsla(0, 0%, 100%, 0.938);
}

.search-bar.search input,
.search-bar.search button  {
    margin-top: -30%;
}

input:focus,
input:valid {
    border: solid 1px #FF5480;
}

.L-input {
    width: 300px;
}

.subscribe {
    text-align: center;
}

.footer {
    width: 100%;
    padding: 20px 0;
    background: url(./assets/p.png);
}